.wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formarea{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width:100%;

    align-items: center;
    justify-content: center;
}
.button{
    padding: .7rem;
    /* flex: 1 0 25%; */
    background-color:rgba(0,0,0,.1);
    outline: none;
    border: 2px solid white;
    /* box-shadow: 0  0 5px black; */
    transition: all .5s;
    width: 25%;
}
.button:hover{
    border-color: #5BC0DE;
    background-color: white;
}
#log-in:active{
    background-color: #428BCA;
}