// $color-hover-border:#5BC0DE;previous color
$color-hover-border:#4695BD;

// $color-active:#428BCA;Prev color for button bg
$color-active:#4270B3;

$background-color_widget:rgba(0,0,0,.1);

// $color_background:#f5f7ff;
$color_background:#F4F4F4;

$color_white:white;

$color_black:black;


// Color Scheme

$color_blue_1:#4270B3;

$color_blue_2:#4695BD;

$color_blue_3:#469FA6;

$color_blue_4:#828282;

$color_blue_5:#F4F4F4;