.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  // background-color: rgba(0,0,0,.9); 
  /* Black*/
  // background-color: rgb(0,0,0);
  background-color: $color_white;
  opacity: 1;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition:all 0.5s; /* 0.5 second transition effect */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
 
  a{
    color: $color_black;
    // color: $color_black;
    border: 4px dotted transparent;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  a:nth-of-type(1){
    align-self: flex-end;
    margin-right: 2rem;
    color: $color_black;
  }
  a:not(a:nth-of-type(1)){
    margin: .5rem 0;
    // border-bottom: 1px solid gray;
  }
  a:hover{
    border: 4px dotted $color_blue_2;
    font-weight: bolder;
    // background-color: $color_white; 
    // color: black;
  }
}

.dropbtn{
  i:hover{
    color: $color_blue_1;
  }
}

// PWA
.pwabanner{
  display: none;
}
  