.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .wrapperfaq{
    max-width: 600px;
    margin: 1rem auto;
    line-height: 1.5;
  }
  .iconaccordion{
    float: right;
    i{
      font-size: 1.5rem;
      transform: rotateY(180deg);
    }
  }
  .precautions,.myths{
    display: none;
  }
  .faqspage{
    justify-content: initial;
    width: 100%;
    margin: auto;
    main{
      height: 100vh;
      width: 100%;
      overflow-y: auto;
    }

  }
  .inheader{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    margin: 0 10px;
    margin-top: .5rem;
  }
  .faqlist{
    li{
      list-style-type: disc;
      padding: 1rem;
      margin-bottom: .5rem;
    }
  }
  .animatefaq{
    animation:sloppy 1s ease-in-out 1;
  }
  .inheader{
    button{
      transition: all .5s;
    }
  }