.input{
width: 80%;
margin-bottom: 1rem;
background-color: $background-color_widget;
padding: 0.5rem;
outline: none;
border: 2px solid transparent;
transition: all .5s;
height: 25px;

}
.input:hover,.select:hover{
    border-color: $color-hover-border ; 
    background-color: #fff;   
    }

.select{
    background-color: $background-color_widget;
    outline: none;
    border:2px solid transparent;
    transition: all .5s;
}
.showlabel{
    margin-bottom: 1rem;
}