
  




// 
p,b{
    line-height: 1.5;
}
a{
    color: $color_blue_1;
}

/* Global layout */
body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow-x: hidden;
    // background-color:$color_background ;
    line-height: 1.5;
    
}
@keyframes sloppy{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

header{
    width: 100%;
    box-shadow: 0 1px 4px 0px #ccc;
}
header h1{
    text-align: center;
}
main{
    width: 100%;
}
footer{
    position: sticky;
    bottom: 0;
    box-shadow: 0 -1px 4px 0px #ccc;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:white;
}

.formarea{
    text-align: center;
}


.rememberme{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding-bottom: 1rem;
}
.remember1{
    width: 100% !important;
}
#chckbox{
    width: auto;
    margin-bottom: 0;
}
.logoarea{
    background: url("../../assets/logo/logo.png");
    background-repeat: no-repeat;
    width: 180px;
   height: 94px;
    margin: 8px 0 0 0;
}


/*  */


/* Index.html layout */
.indexheader,.navhidden{
    display: none;
}
.indexhome{
    justify-content: center;
}
.social-signin{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    img{
        width: 45px;
        height: 45px;
    }
    img:nth-of-type(1){
        margin-right: 4rem;
    }
    img:nth-of-type(2){
        margin-left: 4rem;
    }
 
    }

.socialinfo{
    margin-top: 2rem;
}

.mainlogo{
    margin-bottom: 8rem;
   
    img{
        width: 60%;
        margin-top: 1rem;
       
    }
}
@media screen  and (min-width:600px){
    .mainlogo img{
        width: 30%;
    }
}
.logobottomanimate{
   p{
        margin-top: -20px;
        text-transform: uppercase;
        font-size: .95rem;
        animation: bottomanimation 2s linear .2s 1 normal,bottomanimate2 1s linear .2s;
        color: $color_blue_3;
        animation-fill-mode: forwards;
   }
}

.logoanimate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5px;
    p{
        font-size: 4rem;
        transition: all .5s;
        margin: 0;
    }
    p:nth-of-type(1){
        animation:leftlogo 1s linear .2s 1 normal;
        animation-fill-mode: forwards;
        color: $color_blue_3;
    }
    p:nth-of-type(2){
        animation:rightlogo 1s linear .2s 1 normal;
        color: $color_blue_2;
        font-weight: lighter;
    }
}
@keyframes leftlogo{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0);
        // font-weight: bolder;
    }
    100%{
        font-weight: bolder;
    }
}
.vaccineanimated{
    img{
        margin-bottom: -5rem;
        width: 180px;
        opacity: 0;
        animation: imganimate 2s linear .2s 1 normal;
        animation-fill-mode: forwards;
        transition: all .5s;
       
    }
}
@keyframes imganimate{
    from{
        opacity: 0;
        // transform: translateY(-100%)
    }
    to{
        opacity: 1;
        // transform: translateY(0);
    }
}
@keyframes rightlogo{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes bottomanimation{
    0%{
        transform: translateX(-100%);
    }
    50%{
       
        font-weight: bolder;
    }
    100%{
        transform: translateX(0);
        font-weight: bolder;
    }
       
}
@keyframes bottomanimate2{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
/*       */





/* Login.html layout */

.loginformarea button{
    margin-top: 2rem;
}
.loginheader{
    .logoarea{
        margin: auto;
    }
}


/*  */





/* Home page styling */
.bodyhome{
    animation: sloppy .3s ease-in-out 1;
}
.footerhome{
    display: block;
    width: 100%;
    background-color:$color_active;
    // background-color: #ffffff;
}
.footerhome ul{
display: grid;
padding-left: 0;
width: 100%;
grid-template-columns: repeat(4,1fr);
li{
    justify-self: center;
    a{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        i{
            order: -1;
            margin-bottom: 8px;
            font-size: 1.3rem;
            // color: rgb(80, 75, 75);
            color: $color_white;
        }
    }
}
}
.footerhome a{
    // color: rgb(80,75,75);
    color: white;
}
.cards{
    -webkit-box-shadow: 0px 1px 4px 0px #ccc;
-moz-box-shadow: 0px 1px 4px 0px #ccc;
box-shadow: 0px 1px 8px 0px #ccc;
border: 1px solid #ccc;
margin: 0 auto;
}
main .wrapperhome{
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    align-items: center;
    gap: 2rem;
    .card1{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .card2{
        margin-bottom: 1rem;
        margin-top: 1rem;
        h3{
            margin-bottom: 0;
        }
    }
    .cards{
        padding: 1rem;
        border-radius: 10px;
        width: 80%;

        text-align: center;
        h3{
            color: $color_blue_2;
        }
    }
}
.homecard1{
    // margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    p{
        margin-top: 0;
    }
}

/*  */

/* Vaccihe Registration Styling */

.vaccine_register_wrapper{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 50%;
    // margin: auto;
    align-items: center;
    h2{
        color: $color_blue_2;
    }
    .select{
        padding: .9rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
        background-size: 12px;
        background-position: calc(100% - 2px) center;
        background-repeat: no-repeat;
        background-color: $background-color_widget;
        &:hover,&:active{
            background-color: #fff;
        }
    }
    .personaldetails{
        width: calc(80% + 1rem);
        display: grid;
        grid-template-columns: 1fr .2fr;
        gap: .5rem;
        .genderdiv{
            justify-self: flex-end;
        }
        .agediv{
            .input{
                width: 90%;
                @media screen and (min-width:750px){
                    width: 100%;
                }
            }
        }
       
    }


.radiobuttons{
    width: calc(80% + 1rem );
    .diseaseselect,.diseaseprev{
     display: flex;
     flex-flow: column nowrap;
    }
    .diseaseselect select{
        text-align: center;
    }
    .diseaseprev label{
        margin-top: 1rem;
    }
}
    // .radiobuttons{
    //     display: grid;
    //     grid-template-columns:1fr;
    //     gap: 1rem;
    //     margin-bottom: 1rem;
    //     width: calc(80% + 1rem);
      
        // .diseaseprev{
        //   justify-self: center;
        //   display: flex;
        //   flex-flow: column nowrap;
        //   align-items: center;
        // }
        // .diseaseselect{
        //    justify-self: center;
        //    display: flex;
        //    flex-flow: column nowrap;
        //    align-items: center;
        // }
        // .diseaseprev,.diseaseselect{
        //     align-items: center;

        // }
    
    // }

    // .radiobuttons{
    //     width: calc(80% + 1rem);
    //     .radiogroup{
    //         display: grid;
    //         grid-template-columns:1fr;
    //         // display: flex;
    //         // align-items: center;
    //         // justify-content: space-between;
    //         align-items: center;
    //         // .radiogroups{
    //         //     justify-self: flex-start;
    //         //     label:nth-of-type(2){
    //         //         margin-left: 2rem;
            //     }
        //     }
        // }
    }
    .locationdiv{
        margin-top: 1rem;
        display: flex;
        position: relative;
        gap: 1rem;
        width: calc(80% + 1rem);
        input{
            flex-grow: 1;
            width: 80%;
        }
        // button:hover{
        //     background-color: #fff;
        // }
        button{
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
            i{
                transition:all .5s;
            }
        }
        button:hover  i{
            // color: $color_blue_1;
            transform: scale(1.5);
        }
        button{
            width:10%;
            flex-grow: 1;
            background-color: transparent;
            display: grid;
            i{
                // display: block;
                // text-align: center;
                font-size: 1.5rem;
                width: 10%;
                justify-self: left;
                @media screen and (min-width:600px){
                    justify-self: flex-end;
                }
            }
            i:hover{
                color: $color_blue_1;
            }
        }
    }
.rememberme{
    width: calc(80% + 1rem);
}
.headerarea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    .logoarea{
        margin: initial;
        order: 1;
        margin-left: 1rem;
    }
    nav{
        order:2;
        margin-right: 1rem;
        font-size: 2rem;
    }
}
.vaccine_register_button{
    margin-top: 2rem;
}
.fa-search-location{
    color: black;
}

/*  */


/* Profile page layout */
 main .hide{
    display: none;
}
.loader{
    margin: auto;
}
.loginchange{
    width: 100%;
    grid-column: 1/-1;
    transition: all .5s;
}
.passwordchange{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    input:nth-of-type(1){
        margin-top: 0.5rem;
    }
      }

/*  */



/* Updates Layout */
.wrapperupdates{
    .cards{
        -webkit-box-shadow: 0px 1px 4px 0px #ccc;
        box-shadow: 0px 1px 4px 0px #ccc;
        width: 80%;
        text-align: center;
        border-radius: 10px;
    }
}


/*    */


// PWA Prompt
.ad2hs-prompt{
    background-color:$color_blue_1;
    opacity: .3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: .8;
    display: none;
    button{
        appearance: none;
        -webkit-appearance: none;
        border: none;
        // display: block;
        display: inline;
        background-color:transparent;
        color: white;
        // text-align: center;
        // margin: auto;
    }
    p{
     font-size: 1rem;
     color: white;
     cursor: pointer;
    }
}



// /*  Self assesment   */
// .assessment{
//     width: 80%;
//     margin-bottom: 1rem;
//     padding: 1rem;
//     border-radius: 10px;

//     li{
//         padding-bottom: .5rem;
//         list-style-type:decimal;
//         padding-left: 5px;
//     }
//     button{
//         display: block;
//         margin: 0 auto;
//         margin-bottom: .5rem;
//         margin-top: 0.5rem;
//         padding: .5rem;
//     }
// }
// .checkboxes{
//     display: flex;
//     justify-content: center;
//     gap: .5rem;
   
//     label{
//         // display: block;
//     }
//     .radiogroup{
//         display: flex;
//         align-items: center;
//     }
// label span{
//     display: inline-block;
//     height: 10px;
//     width: 10px;
//     border: 2px solid $color_black;
//     border-radius: 50%;
//     margin-left: 10px;
// }
// input:checked + label span{

//     background-color:$color_blue_2;
// }
// }






.wrapperassessment{
    .cdc-widget-color-white{
        display: block !important;
        text-align: center;
    }
    .button{
        text-align: center;
        i{
            margin-left: 5px;
            &:hover{
                color: white;
            }
        }
    }
   
}





label span{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid $color_black;
    border-radius: 50%;
    margin-left: 10px;
}
input:checked + label span{

    background-color:$color_blue_2;

}


// Highlighting current page
.footerhome .current{
    // color: $color_blue_1;
    i{
        // color: $color_blue_1;
        font-weight: bolder;
    }
}


.nologoheader{
    background-color: #4270B3 !important;
    i{
        color: white !important;
        &:hover{
            color: white !important;
        }
    }
}

.backbutton{
    i{
        color: white;
    }
}


