#map{
    height: 50vh;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 2rem auto;
    border: 1px solid transparent;
    border-radius: 10px;
}


.custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    z-index: 0;
    position: absolute !important;
    bottom: 0px !important;
    top: 80% !important;
    left: 245px;
}
.custom-map-control-button:hover {
    background: #ebebeb;

}

ul#list{
    list-style-type: none;
    padding-left: 0;
    width: 80%;
    margin: auto;
}
#list li{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    padding: 1rem;


    -webkit-box-shadow: 0px 1px 4px 0px #ccc;
        -moz-box-shadow: 0px 1px 4px 0px #ccc;
        box-shadow: 0px 1px 8px 0px #ccc;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 1rem 0;
}
// #list li {
//     margin: 1rem 0;
//     -webkit-box-shadow: 0px 1px 4px 0px #ccc;
//     -moz-box-shadow: 0px 1px 4px 0px #ccc;
//     box-shadow: 0px 1px 8px 0px #ccc;
//     border: 1px solid #ccc;
//     border-radius: 10px;
//     padding: 1rem;
//     display: flex;
//     gap: 1rem;
//     align-items: center;
//     justify-content: space-between;
// }
.wrappermaps h3{
    text-align: center;
    color: $color_blue_2;
    
}
.mapbutton{
    display: block;
    width: 100%;
    margin-bottom: 0;
}



.disable{
    cursor: not-allowed;
    pointer-events: none;
 }