.profileindividualdiv{
    grid-column: 1/-1;
display: grid;
align-items: center;
grid-template-columns:repeat(2,1fr);
b{
    text-align: left;
    margin-left: 1rem;
}
p{
    text-align: center;
    margin-right: 1rem;
}

}
.profileheading p{
    grid-column: 1/-1;
    justify-self: center;
}
.userprofile{
    justify-self: center;
    .imageholder{
        grid-column: 1/-1;
        justify-self: center;
    }
}
input[type="file"]{

    display: none;
}
.profileformarea{
display: grid;
grid-template-columns: repeat(2,1fr);
@media screen and(min-width:500px){
    max-width: 500px;
    margin:0 auto;
}
}
.imageholder{
    position: relative;
    // overflow: hidden;
    button{
        border: none;
    }
    button:active{
        border: none;
    }
img{
    max-width: 250px;
    height: 250px;
    @include imground;

}


    button{
        position: absolute;
        border: none;
        background-color: transparent;
        top: 83%;
        // right: 4%;
        left: 80%;
        opacity: .4;
        transition: all .25s;
    }
}
.sendbutton:hover i{
color: $color_blue_1;
transform: scale(1.5);

}
.sendbutton:hover{
    opacity: 1;
}
.backbutton{
    margin-left: 1rem;
    i{
        font-size: 1.5rem;
    }
    i:hover{
        color: $color_blue_1;
    }
}

