.profileindividualdiv{
    grid-column: 1/-1;
display: grid;
align-items: center;
grid-template-columns:repeat(2,1fr);
b{
    text-align: left;
    margin-left: 1rem;
}
p{
    text-align: center;
    margin-right: 1rem;
}

}
.profileheading p{
    grid-column: 1/-1;
    justify-self: center;
}
.userprofile{
    justify-self: center;
    .imageholder{
        grid-column: 1/-1;
        justify-self: center;
    }
}
input[type="file"]{

    display: none;
}
.profileformarea{
display: grid;
position: relative;
grid-template-columns: repeat(2,1fr);
@media screen and(min-width:500px){
    max-width: 500px;
    margin:0 auto;
}
}
.imageholder{
    position: relative;
    // overflow: hidden;
    button{
        border: none;
    }
    button:active{
        border: none;
    }
img{
    width: 250px;
    height: 250px;
    @include imground;
    border: 2px solid transparent;
    &:hover{
        filter: brightness(.88);
        border-color: white;
    }

}


    button{
        position: absolute;
        border: none;
        background-color: transparent;
        top: 85%;
        // right: 4%;
        left: 85%;
        opacity: .4;
        transition: all .25s;
    }
}
.sendbutton:hover i{
color: $color_blue_1;
transform: scale(1.5);

}
.sendbutton:hover{
    opacity: 1;
}
.backbutton{
    margin-left: 1rem;
    i{
        font-size: 1.5rem;
 
    }
    i:hover{
        color: $color_blue_1;
    }
}

.profilewrapper{
    justify-content: center;
    margin-top: 1rem;
    grid-column: 1/-1;
    border-radius: 10px;
    width: 90%;
    .profileindividualdiv{
        border-bottom: .2px solid rgb(231, 229, 229);
        p{
            text-align: right;
        }
    }
}
main{
    i{
        transition: all .5s;
    }
}
.passwordchangemodal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-column: 1/-1;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    .switchwidget{
       
        .switch {
            position: relative;
            display: inline-block;
            margin: 1rem;
          }
          .switch-input {
            display: none;
          }
          .switch-label {
            display: block;
            width: 44px;
            height: 20px;
            text-indent: -150%;
            clip: rect(0 0 0 0);
            color: transparent;
            user-select: none;
          }
          .switch-label::before,
          .switch-label::after {
            content: "";
            display: block;
            position: absolute;
            cursor: pointer;
          }
          .switch-label::before {
            width: 100%;
            height: 100%;
            background-color: #dedede;
            border-radius: 9999em;
            -webkit-transition: background-color 0.25s ease;
            transition: background-color 0.25s ease;
          }
          .switch-label::after {
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
            -webkit-transition: left 0.25s ease;
            transition: left 0.25s ease;
          }
          .switch-input:checked + .switch-label::before {
            background-color: $color_blue_1;
          }
          .switch-input:checked + .switch-label::after {
            left: 24px;
          }
       
    }
    .passworddiv{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .notificationspermissiondiv{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    b{
        margin-left: 1rem;
        text-align: left;
    }
    button{
        margin: 1rem;
        background-color: transparent;
        text-align: right;
        i{
            color: black;
        }
        &:hover{
            background-color: transparent;
            i{
                color: black;
            }
        }
        i:hover{
            color: $color_blue_1;
            transform: scale(1.5);
        }
    }
}

.passwordchangepopup{
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
z-index: 0;
height: 50%;
display: none;
position: fixed;
width: 80%;
left: 50%;
top: 50%;
background-color:$color_white;
transform: translate(-50%, -50%);
@supports(backdrop-filter:blur(10px)){
    backdrop-filter: blur(20px);
    background-color: transparent;
}
margin-bottom: 1rem;
@include borderr;
padding: 2rem;
button{
    margin-bottom: 0;
}
.clsbuttons{
    position: absolute;
    left: 90%;
    bottom: 88%;
    font-weight: bolder;
    font-size: 2rem;
    cursor:pointer;
}
}